@import "./vars.less";
@import "./fonts.less";
@import "./normalize.less";
@import "./grid.less";
@import "./common.less";

@import "./sliders/common.less";

@import "./sliders/slider1.less";
@import "./sliders/testSlider.less";
@import "./sliders/previewSlider.less";
@import "./sliders/varwidthSlider.less";
/*==============================================================
*												TEST SLIDER CSS
=============================================================== */

.code-editor {
  padding: 20px;
  padding-top: 45px;
  background-color: #212121;
  color: #fff;
  a {
    color: #fff;
  }
}

.code-controls {
  display: flex;
  align-items: stretch;
  // border-bottom: 2px solid #fff;

  & > * {
    display: block;
    padding: 15px 30px;
    border: 2px solid #fff;
    border-bottom: none;
    &.active {
      background-color: #fff;
      color: #212121;
    }
  }
}

.code-tabs {
  border: 2px solid #fff;
}
.CodeMirror-sizer {
  padding-top: 15px;
  font-size: 12px;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}
.CodeMirror-matchingbracket {
  background-color: rgba(255, 150, 0, .3);
}
// .CodeMirror-matchingtag {
//   background: transparent!important;
// }
// .CodeMirror-matchingtag:first-child, .CodeMirror-matchingtag:last-child {
//   background:rgba(255, 150, 0, .3)!important;
// }

.CodeMirror {
  height: 500px;
}






